doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet' ,href='/css/bootstrap.css')

    body


        main.container-md
            article.row
                section.col
                    h1 My Amazing App
                    block content
                section.col
                    h2 Fun is here
                    block content
                section.col
                    h1 My Amazing App
                    block content